* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}